@use '../../utils/variables' as *;

.total {
    &-box {
        background-color: $gray-400;
        padding: 30px;
        border-radius: 10px;
        gap: 5px;
        cursor: pointer;

        @media (min-width: 1200px) {
            padding: 20px 10px;
        }

        @media (min-width: 1400px) {
            padding: 23px;
            ;
        }

        &.active {
            background-color: $secondary-black;

            .total-content {
                color: white;
            }
        }

        img {
            width: 40px;
            height: 40px;
            margin: 0 15px;

            @media (min-width: 1400px) {
                margin: auto;
            }
        }
    }

    &-title {
        color: $primary-gray;
    }
}