@use '../../utils/variables' as *;

.sidebar {
    background-color: $gray-500 !important;
    cursor: pointer;
    font-size: 14px;

    &-item {
        background-color: unset !important;
        border-radius: 8px !important;
        padding: 15px !important;
        color: $gray-300 !important;
        font-weight: 500;
        gap: 10px;

        &.active {
            background-color: $btn-color !important;
            color: $primary-black !important;
            font-weight: 600;
        }
    }

    &-bottom {

        &-item {
            color: $gray-300 !important;
            background-color: unset !important;
            font-weight: 500;
        }
    }

    &-frame {
        display: flex;
        
        @media (min-width: 1200px) {
            width: 170px !important;
            position: fixed;
        }

        @media (min-width: 1400px) {
            width: 185px !important;
        }
    }

    .icon-active {
        color: #1B212D;
    }
}