@use './utils/variables' as *;

.main-left {
  @media (min-width: 1200px) {
    padding: 40px 138px 0 138px !important;
  }
}

.main-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & img {
    object-fit: cover;
    max-height: 100%;
    width: auto;

    @media (min-width: 1200px) {
      max-width: 675px;
      width: 85%;
    }

    @media (min-width: 1400px) {
      height: 100vh;
    }
  }
}

.auth-container {
  .auth {
    &-title {
      gap: 10px;
      margin-top: 30px;
      color: $primary-gray;
      font-weight: 600;

      & img {
        width: 16px;
        height: 16px;

        @media (min-width: 1200px) {
          width: 24px;
          height: 24px;
        }

      }
    }

    &-subtitle {
      color: $gray-300;
      font-size: 14px;
      font-weight: 400;
    }

    &-bold {
      color: $primary-black;
      line-height: 100%;
      cursor: pointer;
    }
  }
}

.form-container {
  width: auto;
  gap: 15px;

  @media (min-width: 1400px) {
    margin-top: 35px;
    min-width: 404px;
  }
}

label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.graph-title {
  font-size: 12px;

  @media (min-width: 1400px) {
    font-size: 18px;
  }
}

.top-menu {
  margin: 30px 16px;
}

.right-end {
  @media (min-width: 1200px) {
    margin-right: 35px;
  }
}