//COLORS
$primary-black: #1B212D;
$primary-gray: #78778B;
$primary-green: #29A073;
$secondary-gray: #F2F2F2;
$gray-300: #929EAE;
$btn-color: #C8EE44;


//FONTS
$primary-fonts: "Kumbh Sans", sans-serif;

//STYLE
$shadow: 0 7px 10px rgba(0, 0, 0, 0.35);