@use '../../utils/variables' as *;

.transactions {
    &-header {
        font-size: 12px;
        color: $primary-gray;
    }
}

.transaction {
    &-item {
        color: $primary-black;
        font-size: 14px;

        img {
            border-radius: 6px;
        }

        &-title {
            margin-left: 10px;
        }

        &-brand {
            margin-left: 10px;
        }
    }

    &-brand {
        color: $primary-gray;
    }

    &-type {
        color: $primary-gray;
    }

    &-date {
        color: $primary-gray;
    }
}